body{
  -webkit-print-color-adjust:exact;
}


#hr1{
    margin: 0;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}


#foo{
border-color: beige;
height: 230px;
width: 100%;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #ededed;
background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e5e5e5));
background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe5e5e5', GradientType=0);
border-color: #e5e5e5 #e5e5e5 #bfbfbf;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);

}


#res{
width: 80%;
height: auto;
margin: 0 auto;
}


#news { 
    margin: 5px auto; 
    position: relative; 
    width: 240px; 
    height: 370px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#leftimg { 
    margin: 5px -5px; 
    position: relative; 
    width: 240px; 
    height: 390px; 
    padding-left: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#news > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

.leftSidebar{
    float:left; width:20%; height:400px; padding:10px; border-right: 1px dashed rgba(179, 175, 175, 0.5);
}

.rightSidebar{
    float:right; width:20%; padding:10px; height:400px;
}

.mainContent{
    margin:0 auto; width:55%;height:400px; padding:10px; border-right: 1px dashed rgba(179, 175, 175, 0.5); padding-left:10px;
}

.logo{
    width:7%; height:7%;
}
.MUname{
    width:28%; height:28%; 
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 900px) {
    #foo{
        height: 300px;
    }
	.wrap {
		width: 90%;
	}
	#logo {
		left: 50px;
		top: 30px;
	}
    .leftSidebar {
        position: inherit;float:none; align-content: center; align-items: center; align-self: auto; width: 100%; border-right:none; padding: 0;
}

.rightSidebar{
    position: inherit;float:none; align-content: center; align-items: center; align-self: auto; width: 100%; border-right:none; padding: 0;
}
    .mainContent{
    margin:0 auto; width:100%;height:auto; border-right: none;  padding: 0;
}
    .logo{
    width:13%; height:13%;
}
.MUname{
    width:55%; height:55%; 
}
}

