html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	background:url("../images/bg4.jpg")no-repeat 0px 0px;
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
}
.error{

color:red;

}
/*-----login-form1-----*/
.message.warning {
	background: rgba(11, 27, 20, 0.50);
  margin:4% auto 0;
	width:30%;
	-webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  color: white;
}
.login-head {
  background: #323030;
  padding: 0.8em 0.8em;

  position: relative;
  border-bottom: 1px solid #201F1F;
}
.login-head h2 {
 margin-top: 2%;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
}
/*.sub-head {
  text-align: center;
  padding: 1.2em 1em;
}
.sub-head h3 {
  color: #fff;
  font-size: 1em;
  margin-bottom: 1em;
}*/
.message.warning span {
  width: 35.7%;
  height: 2px;
  background: #eee;
  display: block;
  margin: 1em 8em;
}
form {
  padding: 0 2.5em 2em 2.5em;
}

.buttons h4{
  color: #fff;
  font-size: 0.95em;
  text-align: center;
}
.buttons li:hover{
  border: none;
}

input[type="text"], input[type="password"], input[type="date"] {

  width: 82%;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: #000;
  font-size: 17px;
  outline: none;
  font-weight: 400;
  border: none;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  border: 1px solid #eee;
  margin: 0.8em 0;
  font-family: 'Open Sans', sans-serif;
  /*background: url("../images/user.png")no-repeat 10px 10px #eee;*/
    margin-left: 7%;
  }

  select[type="text"],textarea[type="area"] {

  width: 82%;
  padding: 0.5em 0.5em 0.5em 0.5em;
  color: #000;
  font-size: 17px;
  outline: none;
  font-weight: 400;
  border: none;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  border: 1px solid #eee;
  margin: 0.8em 0;
  font-family: 'Open Sans', sans-serif;
  /*background: url("../images/user.png")no-repeat 10px 10px #eee;*/
    margin-left: 7%;
  }
  
input[type="password"] {
    /*background: url("../images/key.png")no-repeat 10px 10px #eee;*/
  }
  input[type="radio"] {
    margin-left: 3em;
  }
.submit input[type="submit"]{
  font-size: 1.2em;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 0.7em 0.8em;
  width: 90%;
  border: none;
  font-weight: 600;
  background: #FF9900;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  border-bottom: 4px solid #FF6600;
  font-family: 'Open Sans', sans-serif;
}
input[type="submit"]:hover{
  background: #CC3300;
   border-bottom:4px solid #CC0000;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;

}
.submit {
  margin-top: 1em;
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
.sign-up {
  background: rgba(27, 41, 20, 0.45);
  padding: 1em 2.5em;
  min-height: 42px;
}
a.sign-left {
  float: left;
  color: #fff;;
  font-size: 1.05em;
  padding-top: 8px;
}
a.signup {
  float: right;
  background: #7ad800;
  padding:0.4em 1.2em;
  color: #fff;
  font-weight:400;
  border-radius:0.3em;
  -webkit-border-radius:0.3em;
  -moz-border-radius:0.3em;
  -o-border-radius:0.3em;
  border-bottom: 3px solid#487E04;
  outline: none;
}
a.signup:hover {
   border-bottom: 3px solid#7ad800;
   background:#487E04;
   -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  }
/*----------*/
.p-container{
  margin-top: 1em;
  margin-left: 1em;
}
.p-container  .checkbox input {
  position: absolute;
  left: -9999px;
}
.p-container.checkbox i {
  border-color: #fff;
  transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  
}
.p-container.checkbox i:hover {
  border-color:red;
  
}
.p-container  i:before {
  background-color: #2da5da;  
}
.p-container  .rating label {
  color: #ccc;
  transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
}
.p-container  .checkbox input + i:after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}
.p-container .checkbox input + i:after {
  content: url(../images/tick.png) no-repeat 7px 1px;
  top: -1px;
  left: 0px;
  width: 9px;
  height: 9px;
}
.p-container.checkbox {
  float: left;
  margin-right: 30px;
}
.p-container .checkbox {
  padding-left: 40px;
 font-size: 0.95em;
line-height: 14px;
color: #fff;
cursor: pointer;
}
.p-container  .checkbox {
  position: relative;
  display: block;
}
.p-container  h6 a {
  float: right;
  margin-right: 1em;
  color: #fff;
  font-size: 0.95em;
}
.p-container  h6 a:hover{
  text-decoration: underline;
}
.p-container  .checkbox i {
  position: absolute;
  top: -2px;
  left: 5px;
  display: block;
  width: 18px;
  height: 18px;
  outline: none;
  border: none;
  background: #eee;
  border: 1px solid #eee;
  border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
}
.p-container  .checkbox input + i:after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}
.p-container .checkbox input + i:after {
  color: #2da5da;
}
.p-container .checkbox input:checked + i,
.p-container . input:checked + i {
  border-color: #2da5da;  
}
.p-container .rating input:checked ~ label {
  color: #2da5da; 
}

.p-container .checkbox input:checked + i:after {
  opacity: 1;
}

.alert-close {
	background: url('../images/into.png') no-repeat 0px 0px;
	cursor: pointer;
  height: 22px;
  width: 22px;
  position: absolute;
  right: 28px;
  top: 30px;
	-webkit-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
/*----footer----*/
.footer{	
	text-align: center;
  padding: 1em 1em;
}
.footer p{
	color:#fff;
	font-size:1em;
	padding-top: 3em;
}
.footer p a{
 color: #E51D5F;
}
.footer p a:hover{
	color:#fff;
}

/*-----start-responsive-design------*/
@media (max-width:1440px){
  .message.warning  {
     margin:4% auto 0;
       width: 32%;
  }
  .buttons li.twr{
    width: 38%;
    float: left;
    margin: 1em 1em 0em 2.9em;
  }
   input[type="text"], input[type="password"] {
    width: 81%;
  }
}
@media (max-width:1366px){
	.message.warning  {
     margin:5% auto 0;
	     width: 33%;
	}
  .buttons li.twr{
    width: 38%;
    float: left;
    margin: 1em 1em 0em 2.8em;
  }

}
@media (max-width:1280px){
  .message.warning {
    margin: 3% auto 0;
    width: 37%;
  }
  .submit input[type="submit"] {
    font-size: 1.2em;
    padding: 0.7em 0.8em;
    width: 99%;
  }
}
@media (max-width:1024px){
    .message.warning {
    margin: 3% auto 0;
    width: 45%;
  }
  .submit input[type="submit"] {
  font-size: 1.2em;
  padding: 0.7em 0.8em;
  width: 99.7%;
  }

}
@media (max-width:768px){
  .message.warning {
  margin: 3% auto 0;
  width: 60%;
  }
  .shadow-forms h1 {
    padding: 0.7em 0 0em 0;
    font-size: 2.3em;
  }
  .login-head {
  background: #323030;
  padding: 1.2em 1em;
  }
}
@media (max-width:640px){
    .message.warning {
    margin: 3% auto 0;
    width: 71%;
  }
  form {
  padding: 0 2em 2em 2em;
  }
  .submit input[type="submit"] {
  font-size: 1.2em;
  padding: 0.5em 0.6em;
  width: 99.5%;
  }
  .login-head h2 {
  font-size: 1.5em;
  }
  .alert-close {
  background: url('../images/into.png') no-repeat 0px 0px;
  right: 28px;
  top: 24px;
  }
}
@media (max-width:480px){
  .message.warning {
  margin: 3% auto 0;
  width: 93%;
  }
  .footer p {
  font-size: 0.9em;
  }

}
@media (max-width:320px){
  .shadow-forms h1 {
  font-size:1.4em;
  }
  .login-head {
  padding: 0.7em 0.7em;
  }
  .alert-close {
  right: 19px;
  top: 16px;
  }
  .sub-head h3,.buttons h4 {
  font-size: 0.9em;
  }
  .sub-head img {
    width: 45%;
  }
  .buttons h4 {
    line-height: 1.5em;
  }
  form {
    padding: 0 1em 2em 1em;
  }
  input[type="text"], input[type="password"] {
  width: 75%;
  padding: 0.7em 1em 0.7em 3em;
  color: #000;
  font-size: 15px;
  margin: 0.4em 0;
  background: url("../images/user.png")no-repeat 10px 9px #a7b3b7;
  }
  input[type="password"] {
    background: url("../images/key.png")no-repeat 10px 9px #a7b3b7;
  }
  .p-container .checkbox {
  padding-left: 33px;
  font-size: 0.75em;
  }
  .p-container h6 a {
    font-size: 0.75em;
  }
  .buttons li.twr {
  width: 38%;
  float: left;
  margin: 1em 1em 0em 1em;
  }
  .submit input[type="submit"] {
  font-size: 1em;
  padding: 0.5em 0.6em;
  width: 99.5%;
  }
  .sign-up {
    padding: 1em 1em;
    min-height:35px;
  }
  a.sign-left {
  font-size:0.9em;
  padding-top: 8px;
  }
  a.signup {
  padding: 0.4em 1.2em;
  font-size: 0.9em;
  }
  .message.warning span {
  margin: 1em 5.5em;
  }
  .footer p {
  font-size: 0.8em;
  }
}